<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="classes">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.leafBot.testcases.TC003_CreateLead" />
			<class name="com.leafBot.testcases.TC004_EditLead" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
